{% extends "student/base.html" %}
{% load static %}

{% block title %}
Student -> Applied Job
{% endblock %}

{% block extra_css %}

<style>
    .button {
        display: inline-block;
        font-size: 16px;
        width: 250px;
        /* Adjust width as needed */
        position: absolute;
        top: 16px;
        /* Adjust vertical position as needed */
        right: 16px;
        /* Adjust horizontal position as needed */
    }
</style>

{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="card">
        <div class="card-body d-inline-flex mb-n9">
            <h5 class="card-title fw-semibold">{{ job.title|title }} @{{ job.company.name|title }}</h5>

            <!-- <a href="#" class="btn btn-primary">Apply Now</a> -->
        </div>
        <div class="position-relative">

            <div class="card-body">
                <h5 class="card-title fw-semibold mb-0">Offer Details</h5>
                <div class="d-md-flex my-md-4">

                    <!-- <div class="d-flex ms-4 my-4">
                        <div class="border-right border-2 px-5 d-flex flex-column align-items-center">
                            <span class="fw-semibold fs-6">300+</span>
                            <span class="fw-semibold fs-6">Lecture Hours</span>
                        </div>
                        <div class="border-right border-2 px-5 d-flex flex-column align-items-center">
                            <span class="fw-semibold fs-6">30+</span>
                            <span class="fw-semibold fs-6">PDFs And DPPs</span>
                        </div>
                    </div> -->

                    <img src="{% if job.company.logo %}{{ job.company.logo.url }}{% else %}{% static 'img/user.jpg' %}{% endif %}" class="card-img-top mt-2 mb-2 float-end" style="max-width: 100px; max-height: 100px;">



                    <div class="position-relative">
                        <div class="card-body">
                            <p class="mb-0">{{ job.description|linebreaks }}</p>

                            <p class="mb-1 fw-semibold fs-5">Date of Arrival:
                                <span style="color: rgb(255, 137, 27);">{{ job.interview_date }}</span>
                            </p>
                            <p class="mb-1 fw-semibold fs-5">Role:
                                <span style="color: rgb(255, 195, 65);">{{ job.role }}</span>
                            </p>

                            <p class="mb-1 fw-semibold fs-5">Job Type:
                                <span style="color: green;">{{ job.job_type }}</span>
                            </p>

                            <p class="mb-1 fw-semibold fs-5">Salary Range:
                                <span style="color: green;">{{ job.salary_range }}</span>
                            </p>

                            <p class="mb-1 fw-semibold fs-5">Location Flexibility:
                                <span style="color: green;">{{ job.location_flexibility }}</span>
                            </p>

                            <p class="mb-1 fw-semibold fs-5">Training Period:
                                <span style="color: green;">{{ job.training_period }}</span>
                            </p>

                            <p class="mb-1 fw-semibold fs-5">Bond Timing:
                                <span style="color: green;">{{ job.bond_timing }}</span>
                            </p>
                        </div>
                    </div>



                    
                </div>
            </div>
        </div>

      {% if application.status != "rejected" %}
            <a href="{% url 'withdraw_application' application.job.slug %}" 
            class="btn btn-danger mx-9 mb-4 withdraw-btn"
            onclick="return withdrawApplication(this);"
            >W I T H D R A W &nbsp;&nbsp; M Y &nbsp;&nbsp; A P P L I C A T I O N</a>

        {% else %}

        <a class="btn btn-danger mx-9 mb-4" style="pointer-events: none;">APPLICATION REJECTED</a>

            {% endif %}

    </div>

    {% block extra_js %}

<script>
    function withdrawApplication(button) {
        // Disable the button to prevent multiple clicks
        button.style.pointerEvents = 'none';
        withdraw_btn = document.querySelector('.withdraw-btn');
        
        // change the color also
        button.classList.remove('btn-success');
        button.classList.add('btn-secondary');
        // change the text
        button.innerHTML = 'Processing... Please Wait...';
        withdraw_btn = "Processing... Please Wait...";
        // return false to prevent the form from submitting
        return true;
    }
</script>

    {% endblock %}

    {% endblock %}

  