glance/.env
media/
.*pyc
home/__pycache__/
accounts/__pycache__/
glance/__pycache__/
student/__pycache__/
administration/__pycache__/

accounts/migrations/__pycache__/
home/migrations/__pycache__/
student/migrations/__pycache__/
.env
__pycache__
glance/migrations/__pycache__
glance/migrations/
glance/migrations/0001_initial.py
glance/migrations/0002_alter_user_first_name_max_length.py
glance/migrations/0003_alter_user_last_name_max_length.py
glance/migrations/0004_alter_user_last_name_max_length.py
glance/migrations/0005_alter_user_last_name_max_length.py
glance/migrations/0006_alter_user_last_name_max_length.py
glance/migrations/0007_alter_user_last_name_max_length.py
glance/migrations/0008_alter_user_last_name_max_length.py
glance/migrations/0009_alter_user_last_name_max_length.py
glance/migrations/0010_alter_user_last_name_max_length.py
glance/migrations/0011_alter_user_last_name_max_length.py
glance/migrations/0012_alter_user_last_name_max_length.py
glance/migrations/0013_alter_user_last_name_max_length.py
glance/migrations/0014_alter_user_last_name_max_length.py
management/
backups/
/static/
dbbackup.log
/dbbackup
**/__pycache__/
*.pyc
db.sqlite3
migrations
